body{
    background-color:whitesmoke;
}
#userinput{
    color: deepskyblue;
}
#printHere{
    font-size: 20px;
    color:deepskyblue;
}
#passLength{
    padding: 5px;
    background-color: deepskyblue;
    color:aliceblue;
}
#userinput{
    font-size: 20px;
}
#generate{
    background-color:deepskyblue;
    color:aliceblue;
}
#containupper{
    color: deepskyblue;
}
#containlower{
    color: deepskyblue;
}
#containNumber{
    color: deepskyblue;
}
h1{
    color: deepskyblue;
}
.form1{
    text-align: center;
}