body{
    background-color:darkgrey;
}
#binary {
    padding: 10px
}
#integer {
    padding: 10px
}
h3{
    color:khaki;
    font-size: 20px;
}
#T2MC{
    background-color: black;
    color: mintcream;
    border-color:aqua;
    padding: 10px;
}
label{
    color: black;
}
#mainheader{
    font-size: 30px;
    color: darkorange;
    -webkit-text-stroke: 1px black;

}
input{
    padding: 15px;
    border-radius: 15px;
    background-color:orange;
}
#userinput{
    background-color:white;
    color: orange;
}
span, output{
    color: white;
}
